*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
}

.holder{
    height: 100%;
    width: 100%;
    
}

.profileHolder{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.profilePics{
    width: 150px;
    height: 150px;
    border-radius: 150px;

}
.profilePics img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.vivi{
    font-size: 30px;
    font-style: italic;
    color: white;
    text-align: center;
}

.profileLinks{
    width: 400px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    border: 2px solid white;
}


.down{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.bio{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.edu{
    padding-top: 20px;
    padding-left: 50px;
    /* line-height: 20px; */
}

.line{
    width: 70%;
    height: 4px;
    background-color: rgb(204, 103, 120);
    
}
.education{
    padding-top: 20px;
}
.education p{
    padding: 10px;
}

.edu-text{
    margin-bottom: 10px;
    color: rgb(226, 134, 149);
    font-size: 20px;
}

.ex-text{
    margin-bottom: 10px;
    color: rgb(226, 134, 149);
    font-size: 20px;
}

.experience p{
    padding: 10px;
}

.god{
    color: rgb(255, 196, 0);
    padding-bottom: 8px;
}

.glory{
    color: rgb(255, 196, 0);
    padding-bottom: 8px;
}
span{
    padding-top: 30px;
    font-size: 20px;
    color: rgb(226, 134, 149);
}

.hobbiesAndSkills{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

.skills{
    color: rgb(226, 134, 149);

}

.hobies{
    color: rgb(226, 134, 149);
    
}
footer{
    font-family: Arial, sans-serif;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(83, 83, 83); */
}

.footer-text{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 42px;
}

footer form div{
    margin: 10px 0;
}

input{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
}

#email{
    margin-left: 35px;
}

button {
    width: 100px;
    height: 40px;
    /* padding: 10px 20px; */
    background: linear-gradient(45deg, #007BFF, #00C9FF);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 80px;
    
}

button:hover {
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 8px rgba(231, 71, 71, 0.2);
    background: rgb(226, 134, 149);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

section{
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: peachpuff; */
}

#result{
    border: 1px solid pink;
    border-radius: 10px;
    
}

#result p{
    color: rgb(226, 134, 149);
    font-size: 10px;
}
